In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Groceries_dataset.csv")

In [3]:
data.shape

(38765, 3)

In [4]:
data.head(20)

    Member_number        Date            itemDescription
0            1808  21-07-2015             tropical fruit
1            2552  05-01-2015                 whole milk
2            2300  19-09-2015                  pip fruit
3            1187  12-12-2015           other vegetables
4            3037  01-02-2015                 whole milk
5            4941  14-02-2015                 rolls/buns
6            4501  08-05-2015           other vegetables
7            3803  23-12-2015                 pot plants
8            2762  20-03-2015                 whole milk
9            4119  12-02-2015             tropical fruit
10           1340  24-02-2015               citrus fruit
11           2193  14-04-2015                       beef
12           1997  21-07-2015                frankfurter
13           4546  03-09-2015                    chicken
14           4736  21-07-2015                     butter
15           1959  30-03-2015      fruit/vegetable juice
16           1974  03-05-2015  packaged fruit/vegetables
17           2421  02-09-2015                  chocolate
18           1513  03-08-2015              specialty bar
19           1905  07-07-2015           other vegetables

In [5]:
data.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [6]:
for column in data.columns:
    print(column)
    print(data[column].unique().shape, "\n")

Member_number
(3898,)

Date
(728,)

itemDescription
(167,)

In [7]:
data = data.loc[:, ["Date", "itemDescription"]]
data.head()

         Date   itemDescription
0  21-07-2015    tropical fruit
1  05-01-2015        whole milk
2  19-09-2015         pip fruit
3  12-12-2015  other vegetables
4  01-02-2015        whole milk

In [8]:
data["Date"] = pd.to_datetime(data["Date"], format="%d-%m-%Y")

In [9]:
data["count"] = 1

In [10]:
data.head()

        Date   itemDescription  count
0 2015-07-21    tropical fruit      1
1 2015-01-05        whole milk      1
2 2015-09-19         pip fruit      1
3 2015-12-12  other vegetables      1
4 2015-02-01        whole milk      1

In [11]:
grouped_data = data.groupby(["Date", "itemDescription"]).sum()
grouped_data

                                  count
Date       itemDescription
2014-01-01 Instant food products      2
           berries                    1
           bottled beer               1
           bottled water              4
           brown bread                1
...                                 ...
2015-12-30 tropical fruit             1
           turkey                     1
           whipped/sour cream         1
           whole milk                 3
           yogurt                     2

[25231 rows x 1 columns]

In [12]:
grouped_data.reset_index(inplace = True)

In [13]:
grouped_data.head(10)

        Date        itemDescription  count
0 2014-01-01  Instant food products      2
1 2014-01-01                berries      1
2 2014-01-01           bottled beer      1
3 2014-01-01          bottled water      4
4 2014-01-01            brown bread      1
5 2014-01-01                 butter      1
6 2014-01-01                candles      1
7 2014-01-01              chocolate      1
8 2014-01-01           citrus fruit      1
9 2014-01-01                cleaner      1

In [14]:
sparse_data = pd.pivot_table(grouped_data, values = "count", columns = "itemDescription", index = "Date", aggfunc = np.sum)
sparse_data.head()

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-01,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,2.0,2.0,NaN,NaN,NaN,2.0,4.0,NaN
2014-01-02,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,1.0,1.0,NaN,1.0,NaN,4.0,1.0,NaN
2014-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,1.0,NaN,1.0,NaN,2.0,1.0,NaN
2014-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,1.0,NaN
2014-01-05,1.0,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1.0,...,NaN,1.0,NaN,1.0,NaN,1.0,NaN,5.0,1.0,NaN

In [15]:
sparse_data = sparse_data.applymap(lambda x: 0 if np.isnan(x) else x)
sparse_data

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,4.0,0.0
2014-01-02,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,4.0,1.0,0.0
2014-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,2.0,1.0,0.0
2014-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,0.0
2014-01-05,1.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,5.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-26,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0
2015-12-27,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3.0,1.0,0.0
2015-12-28,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,2.0,0.0
2015-12-29,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6.0,2.0,0.0
2015-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,2.0,0.0

In [16]:
for i in sparse_data.columns:
    print(i)

Instant food products
UHT-milk
abrasive cleaner
artif. sweetener
baby cosmetics
bags
baking powder
bathroom cleaner
beef
berries
beverages
bottled beer
bottled water
brandy
brown bread
butter
butter milk
cake bar
candles
candy
canned beer
canned fish
canned fruit
canned vegetables
cat food
cereals
chewing gum
chicken
chocolate
chocolate marshmallow
citrus fruit
cleaner
cling film/bags
cocoa drinks
coffee
condensed milk
cooking chocolate
cookware
cream
cream cheese
curd
curd cheese
decalcifier
dental care
dessert
detergent
dish cleaner
dishes
dog food
domestic eggs
female sanitary products
finished products
fish
flour
flower (seeds)
flower soil/fertilizer
frankfurter
frozen chicken
frozen dessert
frozen fish
frozen fruits
frozen meals
frozen potato products
frozen vegetables
fruit/vegetable juice
grapes
hair spray
ham
hamburger meat
hard cheese
herbs
honey
house keeping products
hygiene articles
ice cream
instant coffee
jam
ketchup
kitchen towels
kitchen utensil
light bulbs
liqueur
liquor
liquor (appetizer)
liver loaf
long life bakery product
make up remover
male cosmetics
margarine
mayonnaise
meat
meat spreads
misc. beverages
mustard
napkins
newspapers
nut snack
nuts/prunes
oil
onions
organic products
organic sausage
other vegetables
packaged fruit/vegetables
pasta
pastry
pet care
photo/film
pickled vegetables
pip fruit
popcorn
pork
pot plants
potato products
preservation products
processed cheese
prosecco
pudding powder
ready soups
red/blush wine
rice
roll products
rolls/buns
root vegetables
rubbing alcohol
rum
salad dressing
salt
salty snack
sauces
sausage
seasonal products
semi-finished bread
shopping bags
skin care
sliced cheese
snack products
soap
soda
soft cheese
softener
soups
sparkling wine
specialty bar
specialty cheese
specialty chocolate
specialty fat
specialty vegetables
spices
spread cheese
sugar
sweet spreads
syrup
tea
tidbits
toilet cleaner
tropical fruit
turkey
vinegar
waffles
whipped/sour cream
whisky
white bread
white wine
whole milk
yogurt
zwieback

In [17]:
columns_to_not_be_removed = [
    "beef",
    "berries",
    "brown bread",
    "chicken",
    "citrus fruit",
    "condensed milk",
    "fish",
    "fruit/vegetable juice",
    "grapes",
    "ham",
    "hamburger meat",
    "herbs",
    "honey",
    "meat",
    "onions",
    "rice",
    "spices",
    "turkey",
    "waffles",
    "white bread",
    "yogurt"
]

In [18]:
for column in sparse_data.columns:
    if column not in columns_to_not_be_removed:
        sparse_data.drop(column, axis = 1, inplace = True)

In [19]:
for column in columns_to_not_be_removed:
    if column not in sparse_data.columns:
        sparse_data.drop(column, axis = 1, inplace = True)

In [20]:
print(sparse_data.shape)
sparse_data.head()

(728, 21)

itemDescription,beef,berries,brown bread,chicken,citrus fruit,condensed milk,fish,fruit/vegetable juice,grapes,ham,...,herbs,honey,meat,onions,rice,spices,turkey,waffles,white bread,yogurt
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-01,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,4.0
2014-01-02,2.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
2014-01-03,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
2014-01-04,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
2014-01-05,0.0,1.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [21]:
sparse_data.to_csv("sparse_data.csv")

In [22]:
sparse_data = pd.read_csv("sparse_data.csv")

In [23]:
sparse_data

,Date,beef,berries,brown bread,chicken,citrus fruit,condensed milk,fish,fruit/vegetable juice,grapes,...,herbs,honey,meat,onions,rice,spices,turkey,waffles,white bread,yogurt
0,2014-01-01,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,4.0
1,2014-01-02,2.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
2,2014-01-03,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
3,2014-01-04,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
4,2014-01-05,0.0,1.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,2015-12-26,1.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
724,2015-12-27,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
725,2015-12-28,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0
726,2015-12-29,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
727,2015-12-30,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0,2.0

In [24]:
sparse_data.shape

(728, 22)